<h1>ETAPA 5/5</h1>
<hr>
<div class="miniForm7">
    <h3>PRECIO DE TOMA</h3>

<form autocomplete="off" 
#formRegistro="ngForm">

  <div class="scrollTable">
  <table border= "1">

          <tr>
            <td>Precio InfoAuto</td>
            <td><input type="text"  name="precio_infoauto" size="40" placeholder="$"></td>
          </tr>

          <tr>
            <td>Descuento Estipulado (info -)</td>
            <td><input type="text" name="descuento" size="40" placeholder="Xx %"></td>
          </tr>

          <tr>
            <td>Gastos de Preparación</td>
            <td><input type="text" name="gastos" size="40" placeholder="$"></td>
          </tr>

          <tr>
            <td>Precio de toma</td>
            <td><input type="text" name="precioFinal" size="40" placeholder=" 1 (2+3)"></td>
          </tr>
  </table>
 </div>
<hr>  
</form>
