h1 {
    text-align: center;
    padding: 50px 0px 0px 0px;
  }
  
  h3 {
    width: 100%;
    color: black;
    font-size: 25px;
    text-align: center;
  }
  
  hr{
    width: 100%;
    margin: 40px auto;
  }
  
  form{
    margin: 0px 20px;
  }
  
  table {
    border: none;
  }
  
  td{
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  
  td input{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  select{
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px 0px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    background-color: rgb(223, 219, 219);
  }
  
  select option {
    background-color: white;
  }
  
  input[type=checkbox], input[type=radio]{
    transform: scale(1.5);
    margin: 10px 5px;
    background-color: rgb(223, 219, 219);
  }
  
  input[type=text], input[type=number], input[type=date]{
    text-align: center;
    background-color: rgb(223, 219, 219);
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  }
  
  input:hover{
    background-color: white;
  }
  
  .miniForm1, .miniForm2, .miniForm3, .miniForm4, .miniForm5, .miniForm6{
    width: 80%;
    margin: 0px auto;
  }
  
  .miniForm6{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .miniForm7{
    margin: 0px auto;
  }
  
  .miniForm1 input, .miniForm2 input, .miniForm3 input, .miniForm4 input, .miniForm5 input{
    display: block;
    font-size: 20px;
    padding: 8px 0px;
  }
  
  .miniForm1 div p, .miniForm2 div p, .miniForm3 div p, .miniForm4 div p, .miniForm5 div p{
    margin: 0px;
    font-size: 20px;
    color: rgb(39, 38, 38);
  }
  
  .miniForm1 div, .miniForm2 div, .miniForm3 div, .miniForm4 div, .miniForm5 div{
    margin: 20px 0px;
  }
  
  .scrollTable {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }
  
  .texto{
    width: 180px;
  }
  
  .check{
    width: 70px;
  }
  
  .miniForm6{
    display: flex;
    flex-wrap: wrap;
  }
  
  .modificando{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
  }
  
  .modificando div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modificando p{
    margin: 5px;
  }
  
  .cargar{
    width: 100%;
    text-align: center;
  }
  
  .cargar input{
    margin: 20px 0px 60px 0px;
    padding: 20px;
    font-size: 20px;
  }
  
  
  @media (max-width: 575.98px) {
  
    .miniForm1 input, .miniForm2 input, .miniForm3 input, .miniForm4 input, .miniForm5 input{
      width: 100%;
    }
    
    .modificando{
      flex-direction: column;
      width: 100%;
      margin: 0px 20px;
    }
    
    .modificando div{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .modificando p{
      margin: 5px;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
  
    .miniForm1, .miniForm2, .miniForm3, .miniForm4, .miniForm5{
      width: 75%;
      margin: 0px auto;
    }
  
    .miniForm1 input, .miniForm2 input, .miniForm3 input, .miniForm4 input, .miniForm5 input{
      width: 100%;
    }
    
    .modificando{
      flex-direction: column;
      width: 40%;
      margin: 0px 20px;
    }
    
    .modificando div{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .modificando p{
      margin: 5px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
  
    form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .miniForm1, .miniForm3{
      width: 40%;
    }
  
    .miniForm4, .miniForm5{
      width: 40%;
    }
  
    .miniForm1 input, .miniForm2 input, .miniForm3 input, .miniForm4 input, .miniForm5 input{
      width: 100%;
    }
  
    .modificando{
      width: 40%;
    }
  
    .divisor1{
      width: 1px;
      height: 50vh;
      margin: 0px;
      padding: 0px;
    }
  
    .divisor2{
      width: 1px;
      height: 35vh;
      margin: 0px;
      padding: 0px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
  
    form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .miniForm1, .miniForm3{
      width: 40%;
    }
  
    .miniForm4, .miniForm5{
      width: 40%;
    }
  
    .miniForm1 input, .miniForm2 input, .miniForm3 input, .miniForm4 input, .miniForm5 input{
      width: 100%;
    }
  
    .modificando{
      width: 40%;
    }
  
    .divisor1{
      width: 1px;
      height: 50vh;
      margin: 0px;
      padding: 0px;
    }
  
    .divisor2{
      width: 1px;
      height: 25vh;
      margin: 0px;
      padding: 0px;
    }
  }
  
  @media (min-width: 1200px) {
  
    form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 85%;
      margin: 0px auto;
    }
  
    .miniForm1, .miniForm3{
      width: 40%;
    }
  
    .miniForm4, .miniForm5{
      width: 40%;
    }
  
    .miniForm1 input, .miniForm2 input, .miniForm3 input, .miniForm4 input, .miniForm5 input{
      width: 100%;
    }
  
    .modificando{
      width: 40%;
    }
  
    .divisor1{
      width: 1px;
      height: 60vh;
      margin: 0px;
      padding: 0px;
    }
  
    .divisor2{
      width: 1px;
      height: 35vh;
      margin: 0px;
      padding: 0px;
    }
  }
  