<h1>ETAPA 4/5</h1>
<hr>
<h3>CHAPERIA Y PINTURA</h3>
<form autocomplete="off" 
#formRegistro="ngForm">

<div class="scrollTable">
    <table border="1">

        <tr>
            <td colspan="2.5">ILUSTRACIÓN <br> (Marque aquí los daños visibles <br>y enumerelos en chaperia y pintura) </td>
            <td>CHAPA Y PINTURA <br> (Enumere los daños visibles del<br> vehículo y luego marquelos en
            la Ilustración)</td>
        </tr>
        <tr>
            <td colspan="2"><img src="./assets/images/autito.png" alt="foto auto formulario"></td>
            <td style="padding: 0%;"> <textarea style = "width: 395px; height: 300px;" name="daños_chaperiaypintura" id="textarea_cyp" cols="55" ></textarea></td>
        </tr>
    </table>
</div>
<!------------------------------------------------------------------------------------------->


<!-------------------------------------- FORM IMAGENES ------------------------------------>

<div>
  <h3>Imágenes del vehículo</h3>
  (Foto) FRONTAL:<input type="file" name="imagenFrontal"><br>
  (Foto) LATERAL IZQUIERDO:<input type="file" name="iamgenLateralIzquierda"><br>
  (Foto) LATERAL DERECHO:<input type="file" name="iamgenLateralDerecha"><br>
  (Foto) TRASERA:<input type="file" name="imagenTrasera"><br>
  (Foto) INTERIOR:<input type="file" name="imagenInterior"><br>
  ENVIAR FOTOS:<input type="submit" value="Enviar">
  <br>
  <br>
</div>
<hr>
</form>