<h1>ETAPA 3/5</h1>
<hr>
<h3>NEUMATICOS DEL VEHICULO</h3>
<form autocomplete="off" 
#formRegistro="ngForm">

    <div class="scrollTable">
        <table border="1">
            <tr>
              <td colspan="6">NEUMATICOS </td>
            </tr>

            <tr>
              <td>Ubicacion</td>
              <td>Marca</td>
              <td>B</td>
              <td>R</td>
              <td>M</td>
              <td>Medidas</td>
            </tr>

            <tr>
              <td>Delantera I</td>
              <td><input type="text"></td>
              <td><input type="radio" name="delanteraI"></td>
              <td><input type="radio" name="delanteraI"></td>
              <td><input type="radio" name="delanteraI"></td>
              <td><input type="text" size="20" placeholder="_ _ _ / _ _ / _ _"></td>
            </tr>

            <tr>
              <td>Delantera D</td>
              <td><input type="text"></td>
              <td><input type="radio" name="delanteraD"></td>
              <td><input type="radio" name="delanteraD"></td>
              <td><input type="radio" name="delanteraD"></td>
              <td><input type="text" size="20" placeholder="_ _ _ / _ _ / _ _"></td>
            </tr>

            <tr>
              <td>Trasera I</td>
              <td><input type="text"></td>
              <td><input type="radio" name="traseraI"></td>
              <td><input type="radio" name="traseraI"></td>
              <td><input type="radio" name="traseraI"></td>
              <td><input type="text" size="20" placeholder="_ _ _ / _ _ / _ _"></td>
            </tr>

            <tr>
              <td>Trasera D</td>
              <td><input type="text"></td>
              <td><input type="radio" name="traseraD"></td>
              <td><input type="radio" name="traseraD"></td>
              <td><input type="radio" name="traseraD"></td>
              <td><input type="text" size="20" placeholder="_ _ _ / _ _ / _ _"></td>
            </tr>

            <tr>
              <td>Auxiliar</td>
              <td><input type="text"></td>
              <td><input type="radio" name="auxiliar"></td>
              <td><input type="radio" name="auxiliar"></td>
              <td><input type="radio" name="auxiliar"></td>
              <td><input type="text" size="20" placeholder="_ _ _ / _ _ / _ _"></td>
            </tr>

            <tr>
              <td colspan="6">VEHICULOS CON BALANCIN O DUAL</td>
            </tr>

            <tr>
              <td>Trasera I</td>
              <td><input type="text"></td>
              <td><input type="radio" name="conTraseraI"></td>
              <td><input type="radio" name="conTraseraI"></td>
              <td><input type="radio" name="conTraseraI"></td>
              <td><input type="text" size="20" placeholder="_ _ _ / _ _ / _ _"></td>
            </tr>

            <tr>
              <td>Trasera D</td>
              <td><input type="text"></td>
              <td><input type="radio" name="conTraseraD"></td>
              <td><input type="radio" name="conTraseraD"></td>
              <td><input type="radio" name="conTraseraD"></td>
              <td><input type="text" size="20" placeholder="_ _ _ / _ _ / _ _"></td>
            </tr>
      </table>
    </div>
  <hr>
  </form>