<!-------------------------------------- PRUEBA DINAMICA ---------------------------------------->

<form autocomplete="off" 
#formRegistro="ngForm">
<h1>ETAPA 2/5</h1>
<hr>
<h3>COMPONENTES DEL VEHICULO</h3>
    <div class="scrollTable">
        <table border="1">
            <tr>
              <td>COMPONENTES</td>
              <td>ESTADO <br>B | R | M</td>
              <td>OBSERVACIONES</td>
              <td>PRESUPUESTO</td>
            </tr>

            <tr>
              <td>Motor</td>
              <td>
                <input type="radio" name="motor" value="bueno">
                <input type="radio" name="motor" value="regular">
                <input type="radio" name="motor" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto1" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Sistema de escape</td>
              <td>
                <input type="radio" name="escape" value="bueno">
                <input type="radio" name="escape" value="regular">
                <input type="radio" name="escape" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto2" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Caja de cambios</td>
              <td>
                <input type="radio" name="cambios" value="bueno">
                <input type="radio" name="cambios" value="regular">
                <input type="radio" name="cambios" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto3" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Sistema de suspensión</td>
              <td>
                <input type="radio" name="suspensión" value="bueno">
                <input type="radio" name="suspensión" value="regular">
                <input type="radio" name="suspensión" value="malo">
              <td>
              <input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto4" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Diferencial (puente tras.)</td>
              <td>
                <input type="radio" name="diferencial" value="bueno">
                <input type="radio" name="diferencial" value="regular">
                <input type="radio" name="diferencial" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto5" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Embrague</td>
              <td>
                <input type="radio" name="embrague" value="bueno">
                <input type="radio" name="embrague" value="regular">
                <input type="radio" name="embrague" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto6" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Dirección</td>
              <td>
                <input type="radio" name="direccion" value="bueno">
                <input type="radio" name="direccion" value="regular">
                <input type="radio" name="direccion" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto7" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Tren delantero</td>
              <td>
                <input type="radio" name="delantero" value="bueno">
                <input type="radio" name="delantero" value="regular">
                <input type="radio" name="delantero" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto8" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Amortiguadores</td>
              <td>
                <input type="radio" name="amortiguadores" value="bueno">
                <input type="radio" name="amortiguadores" value="regular">
                <input type="radio" name="amortiguadores" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto9" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Frenos</td>
              <td>
                <input type="radio" name="frenos" value="bueno">
                <input type="radio" name="frenos" value="regular">
                <input type="radio" name="frenos" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto10" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Radiador</td>
              <td>
                <input type="radio" name="radiador" value="bueno">
                <input type="radio" name="radiador" value="regular">
                <input type="radio" name="radiador" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto11" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Chasis</td>
              <td>
                <input type="radio" name="chasis" value="bueno">
                <input type="radio" name="chasis" value="regular">
                <input type="radio" name="chasis" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto12" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Chapa carrocería</td>
              <td>
                <input type="radio" name="carroceria" value="bueno">
                <input type="radio" name="carroceria" value="regular">
                <input type="radio" name="carroceria" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto13" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Vidrios</td>
              <td>
                <input type="radio" name="vidrios" value="bueno">
                <input type="radio" name="vidrios" value="regular">
                <input type="radio" name="vidrios" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto14" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Maquina levanta cristales</td>
              <td>
                <input type="radio" name="levantaCristales" value="bueno">
                <input type="radio" name="levantaCristales" value="regular">
                <input type="radio" name="levantaCristales" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto15" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Colizas</td>
              <td>
                <input type="radio" name="colizas" value="bueno">
                <input type="radio" name="colizas" value="regular">
                <input type="radio" name="colizas" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto16" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Pintura</td>
              <td>
                <input type="radio" name="pintura" value="bueno">
                <input type="radio" name="pintura" value="regular">
                <input type="radio" name="pintura" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto17" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Tapizado - Alfombras</td>
              <td>
                <input type="radio" name="tapizados-alfombras" value="bueno">
                <input type="radio" name="tapizados-alfombras" value="regular">
                <input type="radio" name="tapizados-alfombras" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto18" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Instalación eléctrica</td>
              <td>
                <input type="radio" name="instElectrica" value="bueno">
                <input type="radio" name="instElectrica" value="regular">
                <input type="radio" name="instElectrica" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto19" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Instrumentos tablero</td>
              <td>
                <input type="radio" name="tablero" value="bueno">
                <input type="radio" name="tablero" value="regular">
                <input type="radio" name="tablero" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto20" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Acumulador</td>
              <td>
                <input type="radio" name="acumulador" value="bueno">
                <input type="radio" name="acumulador" value="regular">
                <input type="radio" name="acumulador" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto21" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Faros</td>
              <td>
                <input type="radio" name="faros" value="bueno">
                <input type="radio" name="faros" value="regular">
                <input type="radio" name="faros" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto22" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Limpiaparabrisas</td>
              <td>
                <input type="radio" name="limpiaParabrisas" value="bueno">
                <input type="radio" name="limpiaParabrisas" value="regular">
                <input type="radio" name="limpiaParabrisas" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto23" placeholder="$0.00"></td>
            </tr>

            <tr>
              <td>Limpia lavaluneta</td>
              <td>
                <input type="radio" name="limpiaLavaluneta" value="bueno">
                <input type="radio" name="limpiaLavaluneta" value="regular">
                <input type="radio" name="limpiaLavaluneta" value="malo">
              </td>
              <td><input type="text" size="30" name="observaciones1" placeholder="Ingrese una observacion"></td>
              <td><input type="text" size="5" name="presupuesto24" placeholder="$0.00"></td>
            </tr>
            <tr>
              <td colspan="4"><strong style="font-size: 20px;">TOTAL: </strong> <input type="text" size="20" placeholder="$0.00" style="margin: 10px 20px;" name="totalComponentes"></td>
            </tr>
      </table>
    </div>
  <hr>
  </form>
