.container{
    margin: 0px auto;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 575.98px) {   
    .container{
        width: 100%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
  
    .container{
        width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .container{
        width: 100%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
  
    .container{
      width: 90%;
    }
  }
  
  @media (min-width: 1200px) {
    .container{
        width: 80%;
      }
  }
