<nav>
    <div class="nav">
        <label for="check" class="mostrarMenu" (click)="plegarYDesplegar()">
            <i class="fas fa-bars"></i>
        </label>
    
        <div class="logo">
            <img src="../../assets/images/logoLorenzo.png" alt="logoEmpresa">
            <h1>APP-TASACIONES</h1>
        </div>
    
        <div id="oscuro" (click)="plegarMenu()"></div>
    
        <div class="navbar" id="navbar">
            <div class="links">
                <a [routerLink]="['/']" (click)="plegarMenu()">INICIO</a>
                <a [routerLink]="['/formulario']" (click)="plegarMenu()">TASAR</a>
                <a [routerLink]="['/historial']" (click)="plegarMenu()">HISTORIAL</a>
            </div>
        </div>
    </div>
</nav>
